#TODO: kuiserver is not yet validated on Redox — D-Bus activation may fail until it is built and staged
[D-BUS Service]
Name=org.kde.JobViewServer
Exec=/usr/bin/kuiserver
