[unit]
description = "Bluetooth host/control daemon"
requires_weak = [
    "05_firmware-loader.service",
]

[service]
cmd = "redbear-btctl"
type = { scheme = "btctl" }
