[unit]
description = "Services that relibc needs to function"
default_dependencies = false
requires_weak = [
    "00_logd.service",
    "00_nulld.service",
    "00_randd.service",
    "00_rtcd.service",
    "00_zerod.service",
    "ramfs@logging.service",
]
