[unit]
description = "Framebuffer text console"
requires_weak = ["10_inputd.service", "20_vesad.service"]

[service]
cmd = "fbcond"
args = ["2"]
type = { scheme = "fbcon" }
