[unit]
description = "Hardware manager"
requires_weak = ["10_inputd.service", "10_lived.service", "20_graphics.target"]

[service]
cmd = "hwd"
inherit_envs = ["RSDP_ADDR", "RSDP_SIZE"]
type = "notify"
