[unit]
description = "$INSTANCE ramfs"
default_dependencies = false
requires_weak = ["00_randd.service"]

[service]
cmd = "ramfs"
args = ["$INSTANCE"]
type = { scheme = "$INSTANCE" }
